@import url('variables.css');
@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('camera.css');
@import url('receipts.css');
@import url('analysis.css');
@import url('settings.css');
@import url('preprocessing.css');
@import url('debug.css');
@import url('responsive.css');